In [1]:
import pandas as pd
import matplotlib as plot

df_allcounties = pd.read_csv('MODIS_Counties_Calveg.csv')
df_onlyforests=pd.read_csv('MODIS_Counties_Calveg_Forests.csv')

In [2]:
df_allcounties.head()

,FID,FID_MODIS_,OBJECTID,latitude,longitude,brightness,scan,track,acq_date,acq_time,...,bright_t31,frp,daynight,type,year,Month,NAME,FID_Cal_Ve,OBJECTID_1,CALVEGZONE
0,0,0,1,32.6001,-116.9155,319.5,1.1,1.1,2007-10-23,1827,...,305.8,8.9,D,0,2007,10,San Diego,6,191.0,7
1,1,1,2,32.6002,-116.6407,383.6,1.5,1.2,2016-06-19,2040,...,324.0,271.1,D,0,2016,6,San Diego,6,191.0,7
2,2,2,3,32.6004,-116.7881,466.6,1.0,1.0,2003-10-26,1840,...,348.0,944.9,D,0,2003,10,San Diego,6,191.0,7
3,3,3,4,32.6004,-116.6680,313.9,3.1,1.7,2022-09-01,502,...,298.1,47.9,N,0,2022,9,San Diego,6,191.0,7
4,4,4,5,32.6004,-116.5552,399.8,2.0,1.4,2016-06-20,1810,...,322.7,628.2,D,0,2016,6,San Diego,6,191.0,7

In [3]:
df_allcounties.columns

Index(['FID', 'FID_MODIS_', 'OBJECTID', 'latitude', 'longitude', 'brightness',
       'scan', 'track', 'acq_date', 'acq_time', 'satellite', 'instrument',
       'confidence', 'version', 'bright_t31', 'frp', 'daynight', 'type',
       'year', 'Month', 'NAME', 'FID_Cal_Ve', 'OBJECTID_1', 'CALVEGZONE'],
      dtype='object')

In [4]:
df_allcounties.FID.unique

<bound method Series.unique of 0              0
1              1
2              2
3              3
4              4
           ...
285854    285854
285855    285855
285856    285856
285857    285857
285858    285858
Name: FID, Length: 285859, dtype: int64>

In [5]:
df_allcounties.shape

(285859, 24)

In [7]:
# dropping un necessary columns
# df=df.drop(['OBJECTID_1', 'FID_MODIS_', 'FID_MODIS','NAME','FID_1', 'FID_Cal_Ve', 'OBJECTID','FID_Procla', 'PROCLAIMED'],axis=1)
df_allcounties=df_allcounties.drop(['FID_MODIS_','OBJECTID','scan','track','satellite','instrument','version','FID_Cal_Ve','OBJECTID_1'],axis=1)

In [8]:
df_allcounties.columns

Index(['FID', 'latitude', 'longitude', 'brightness', 'acq_date', 'acq_time',
       'confidence', 'bright_t31', 'frp', 'daynight', 'type', 'year', 'Month',
       'NAME', 'CALVEGZONE'],
      dtype='object')

In [9]:
df_allcounties.shape

(285859, 15)

In [11]:
df_allcounties['date']=df_allcounties['acq_date']

In [12]:
df_allcounties['county_name']=df_allcounties['NAME']

In [13]:
df_allcounties.columns

Index(['FID', 'latitude', 'longitude', 'brightness', 'acq_date', 'acq_time',
       'confidence', 'bright_t31', 'frp', 'daynight', 'type', 'year', 'Month',
       'NAME', 'CALVEGZONE', 'date', 'county_name'],
      dtype='object')

In [14]:
df_allcounties=df_allcounties.drop(['NAME','acq_date'],axis=1)

In [15]:
df_allcounties.columns

Index(['FID', 'latitude', 'longitude', 'brightness', 'acq_time', 'confidence',
       'bright_t31', 'frp', 'daynight', 'type', 'year', 'Month', 'CALVEGZONE',
       'date', 'county_name'],
      dtype='object')

In [16]:
month= ["January","February","March","April","May","June","July",
            "August","September","October","November","December"]

In [17]:
calvegzone=["North Coast","North Interior","North Sierra","South Sierra","Central Valley","Central Coast","South Coast","South Interior","Great Basin"]

In [18]:
#replacing the codes of CALVEGZONE with full name
df_allcounties=df_allcounties.replace({"CALVEGZONE":{1:"North Coast",2:"North Interior",3:"North Sierra",4:"South Sierra",5:"Central Valley",6:"Central Coast",7:"South Coast",8:"South Interior",9:"Great Basin"}})

In [19]:
#replacing the codes of Months with full name
#month= ["January","February","March","April","May","June","July","August","September","October","November","December"]
df_allcounties=df_allcounties.replace({"Month":{1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"}})
df_allcounties

,FID,latitude,longitude,brightness,acq_time,confidence,bright_t31,frp,daynight,type,year,Month,CALVEGZONE,date,county_name
0,0,32.6001,-116.9155,319.5,1827,59,305.8,8.9,D,0,2007,October,South Coast,2007-10-23,San Diego
1,1,32.6002,-116.6407,383.6,2040,100,324.0,271.1,D,0,2016,June,South Coast,2016-06-19,San Diego
2,2,32.6004,-116.7881,466.6,1840,100,348.0,944.9,D,0,2003,October,South Coast,2003-10-26,San Diego
3,3,32.6004,-116.6680,313.9,502,81,298.1,47.9,N,0,2022,September,South Coast,2022-09-01,San Diego
4,4,32.6004,-116.5552,399.8,1810,100,322.7,628.2,D,0,2016,June,South Coast,2016-06-20,San Diego
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285854,285854,42.0074,-122.2319,322.1,2138,81,281.0,41.1,D,0,2006,November,North Interior,2006-11-14,Siskiyou
285855,285855,42.0075,-122.4835,320.3,634,100,290.3,35.0,N,0,2018,July,North Interior,2018-07-08,Siskiyou
285856,285856,42.0075,-122.2358,314.2,608,19,296.1,10.5,N,0,2014,August,North Interior,2014-08-02,Siskiyou
285857,285857,42.0077,-122.4642,354.5,1833,92,311.0,221.9,D,0,2018,July,North Interior,2018-07-08,Siskiyou
285858,285858,42.0078,-122.4927,345.7,2151,74,310.1,133.8,D,0,2018,July,North Interior,2018-07-08,Siskiyou

In [22]:
df_allcounties.to_csv("D:\\Spring2023\\INFO 247\\Assignments\\Final Assignment\\Analysis\\GIF Output 18th April\\Final CSV 18th April\\processed\\allcounties_calveg.csv")

In [24]:
df_onlyforests.columns

Index(['FID', 'latitude', 'longitude', 'brightness', 'scan', 'track',
       'acq_date', 'acq_time', 'satellite', 'confidence', 'bright_t31', 'frp',
       'daynight', 'type', 'year', 'Month', 'NAME', 'FID_Cal_Ve', 'OBJECTID_1',
       'CALVEGZONE', 'FORESTNAME'],
      dtype='object')

In [25]:
# dropping un necessary columns
df_onlyforests=df_onlyforests.drop(['scan','track','satellite','FID_Cal_Ve','OBJECTID_1'],axis=1)

In [26]:
#creating new fields for date and name of county
df_onlyforests['date']=df_onlyforests['acq_date']
df_onlyforests['county_name']=df_onlyforests['NAME']

In [28]:
#dropping the previous fields
df_onlyforests=df_onlyforests.drop(['NAME','acq_date'],axis=1)

In [30]:
#replacing the codes of CALVEGZONE with full name
df_onlyforests=df_onlyforests.replace({"CALVEGZONE":{1:"North Coast",2:"North Interior",3:"North Sierra",4:"South Sierra",5:"Central Valley",6:"Central Coast",7:"South Coast",8:"South Interior",9:"Great Basin"}})

In [31]:
#replacing the codes of Months with full name
#month= ["January","February","March","April","May","June","July","August","September","October","November","December"]
df_onlyforests=df_onlyforests.replace({"Month":{1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December"}})
df_onlyforests

,FID,latitude,longitude,brightness,acq_time,confidence,bright_t31,frp,daynight,type,year,Month,CALVEGZONE,FORESTNAME,date,county_name
0,0,32.6629,-116.5128,307.7,1858,35,290.0,13.3,D,0,2016,January,South Coast,Cleveland National Forest,2016-01-20,San Diego
1,1,32.6683,-116.6507,346.5,2045,92,314.5,56.2,D,0,2007,October,South Coast,Cleveland National Forest,2007-10-24,San Diego
2,2,32.6693,-116.6427,375.7,944,100,305.1,136.6,N,0,2007,October,South Coast,Cleveland National Forest,2007-10-24,San Diego
3,3,32.6699,-116.6648,424.9,1827,100,323.3,499.4,D,0,2007,October,South Coast,Cleveland National Forest,2007-10-23,San Diego
4,4,32.6706,-116.6373,348.6,2045,93,309.0,62.9,D,0,2007,October,South Coast,Cleveland National Forest,2007-10-24,San Diego
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175255,175255,42.0036,-123.2064,325.8,1921,80,295.5,24.6,D,0,2017,August,North Coast,Rogue River National Forest,2017-08-30,Siskiyou
175256,175256,42.0039,-123.2180,335.6,2101,88,294.5,50.9,D,0,2017,August,North Coast,Rogue River National Forest,2017-08-30,Siskiyou
175257,175257,42.0040,-123.1816,316.1,2132,36,299.3,10.9,D,0,2017,August,North Coast,Rogue River National Forest,2017-08-17,Siskiyou
175258,175258,42.0045,-123.1810,315.5,550,88,289.5,25.3,N,0,2017,August,North Coast,Rogue River National Forest,2017-08-21,Siskiyou
175259,175259,42.0058,-123.1654,316.3,2132,39,302.4,10.3,D,0,2017,August,North Coast,Rogue River National Forest,2017-08-17,Siskiyou

In [32]:
#writing the dataframe to a csv file
df_onlyforests.to_csv("D:\\Spring2023\\INFO 247\\Assignments\\Final Assignment\\Analysis\\GIF Output 18th April\\Final CSV 18th April\\processed\\nationalforests.csv")